body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    background: #101010;
    color: #ffffff;
}

.container {
    margin: 20px auto;
    width: 400px;
    text-align: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form{
    width: 100%;
    max-width: 350px;
}

div.inputsingle{
    width: 100%;
    margin: 30px 0;
    position: relative;
}

div.inputsingle label{
    font-size: 16px;
    position: absolute;
    left: 0;
    bottom: 5px;
    color: #696969	;
    cursor: text;
    transition: 0.5 ease-in-out;
}

div.inputsingle .input{
    width: 100%;
    padding: 5px;
    color: #696969	;
    border: 0;
    border-bottom: 2px solid #c8c8c8;
    outline: 0;
}

div.inputsingle .input:focus,
div.inputsingle .input:valid{
    border-bottom: 2px solid #ecd448;
}

div.inputsingle .input:focus ~ label,
div.inputsingle .input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color: #ecd448;
}

button {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #000;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
}

button:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) 
        translate(-150%, -50%);
    transition: all 0.5s;
}

button:hover {
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
}

button:hover::before {
    transform: skewX(30deg)
        translate(150%, -50%);
    transition-delay: 0.1s;    
}

button:active {
    transform: scale(0.9);
}

#h3ResultadoAtv5 {
    margin-top: 20px auto;
    text-align: center;
    font-size: 25px;
}